# Final completed build location
/dist

# Webpack asset destination
/site/_build
.webpack

# Track styles vendor dir
!/assets/styles/vendor

# Ephemeral things that should not be tracked
node_modules
.env
.idea
