---
layout: app.njk
title: Always Blank
description: "Web site for web developer Ben Martinez-Bateman."
---
<div class="flex flex-col justify-center items-center min-h-screen">
    <div class="flex flex-col justify-center p-20 font-mono">
        {% cl_img { path: 'alwaysblank.dev/ben.png', size: 256, alt: "sketchy drawing of the artist", srcset: [128, 491], css: 'mx-auto w-64', attrs: [['loading', 'lazy']] } %}
        <h1 class="bold text-4xl  text-center mt-8">Always Blank</h1>
        <div class="prose my-8">
            <p>Hi! I'm Ben, a web developer.</p>
            <p>I work mostly with PHP, JavaScript, and CSS, but I'm always interesting in learning new things.</p>
            <p>When I'm building sites, I usually use <a href="https://www.wordpress.org">WordPress</a>, <a
                    href="https://www.statamic.com">Statamic</a>, or <a href="https://www.11ty.dev">11ty</a>--in fact, <i>this</i> site is built on 11ty!</p>
            <p>As part of the <a href="https://roots.io/">Roots</a> team, I help build, maintain, and support a popular framework for WordPress development.</p>
            <p>If you're interested in seeing some of the other stuff I've done, I have several things I've built up on
                <a href="https://www.github.com/alwaysblank">GitHub</a>. I also have an 11ty start kit called <a href="https://elfin.netlify.app">Elfin</a> that I put together to make building 11ty sites a little easier--I used it to build this one!</p>
        </div>
    </div>
</div>
