---
layout: app.njk
---
{% extends "body.njk" %}

{% block main %}
  <div class="prose my-8">
   {{ content | safe }}

    <form name="contact" method="POST" data-netlify="true" action="/thanks" netlify-honeypot="fax-number" class="rounded-md grid grid-cols-4 gap-4 md:w-4/5 mx-auto">
        <h2 class="col-span-4 text-center">Get in Touch</h2>
        <label class="font-bold col-start-1 col-span-1" for="email-field">Email</label>
        <input type="email" name="email" id="email-field" required class="col-start-2 col-span-3 rounded-md bg-blue-100 py-2 px-4" />
        <label class="font-bold col-start-1 col-span-1" for="name-field">Name</label>
        <input name="name" id="name-field" required class="col-start-2 col-span-3 rounded-md bg-blue-100 py-2 px-4" />
        <label class="font-bold col-start-1 col-span-1" for="message-field">Message</label>
        <textarea name="message" required id="message-field" class="col-start-2 col-span-3 rounded-md bg-blue-100 py-2 px-4" rows="3"></textarea>
        <p class="hidden">
            <label>
                Don’t fill this out if you’re human: <input name="fax-number" />
            </label>
        </p>
        <button type="submit" class="col-end-5 col-span-1 bg-blue-400 rounded-lg py-2 px-4">Send</button>
    </form>
  </div>
{% endblock %}
